
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    margin-bottom: 60px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
    }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

    button[type="button"] {
        background-color: #dc3545;
        color: #fff;
    }

        button[type="button"]:hover {
            background-color: #c82333;
        }

.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table th, table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f5f5f5;
        text-align: left;
    }

.edit-category {
    display: none;
}

/* Colors */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #c82333;
    }

.error-message {
    color: #dc3545;
}


@media (min-width: 768px) {
    input[type="text"],
    button {
        font-size: 16px;
    }
}
